#intro {
  min-height: 10vh;

  background-image: url("/Assets/background/Background_Intro.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  max-width: 1040px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 56px;

  padding-top: 120px;
}

.text h3 {
  color: var(--gray-200);
  font: var(--subtitle);
}

.name {
  color: var(--red-color);
}

.text h1 {
  margin-top: 8px;
  font: var(--h1);
  color: var(--gray-100);
}

.text p {
  margin-top: 20px;
  max-width: 680px;
  font: var(--text-sm);
  color: var(--gray-300);
  gap: 80px;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-card {
  display: flex;
  gap: 16px;
}

.skill {
  display: flex;
  align-items: center;
  gap: 8px;

  font: var(--text-md);
  color: var(--gray-200);

  padding: 8px 16px;
  background-color: var(--gray-400);
  border-radius: 50px;
}

.arrow {
  margin-top: 90px;
}

.arrow img {
  width: 32px;
  aspect-ratio: 1/1;
}

.title {
  display: block;
  text-align: center;
  margin-bottom: 48px;
}

.title h2 {
  font: var(--h2);
  color: var(--gray-100);
}

.titles h3 {
  font: var(--subtitle);
  color: var(--purple-color);
  padding-bottom: 8px;
}

.titles h2 {
  font: var(--h2);
  color: var(--gray-100);
  padding-bottom: 8px;
}

.titles span {
  font: var(--text-md);
  color: var(--gray-200);
}